In [1]:
#lambda fuctions
f=lambda x,y:x*y

In [2]:
f(3,2)

6

In [3]:
l=lambda s:len(s)

In [4]:
l("amitha")

6

In [5]:
n=[1,2,3,4,5]
n1=list(map(lambda x:x**2,n))

In [6]:
n1

[1, 4, 9, 16, 25]

In [7]:
n2=list(filter(lambda x:x%2==0,n))

In [8]:
n2

[2, 4]

In [11]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
sorted(fruits,key=lambda x:len(x))

['date', 'apple', 'banana', 'cherry', 'elderberry']

In [22]:
people = [
    {'name': 'Alice', 'age': 25, 'occupation': 'Engineer'},
    {'name': 'Bob', 'age': 30, 'occupation': 'Manager'},
    {'name': 'Charlie', 'age': 22, 'occupation': 'Intern'},
    {'name': 'Dave', 'age': 27, 'occupation': 'Designer'},
]
sorted(people,key=lambda x:x['age'])

[{'name': 'Charlie', 'age': 22, 'occupation': 'Intern'},
 {'name': 'Alice', 'age': 25, 'occupation': 'Engineer'},
 {'name': 'Dave', 'age': 27, 'occupation': 'Designer'},
 {'name': 'Bob', 'age': 30, 'occupation': 'Manager'}]

In [31]:
from itertools import groupby
words = ['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig']
groups = groupby(sorted(words), key=lambda x: x[0])
for key, group in groups:
    print(key, list(group))

a ['apple']
b ['banana']
c ['cherry']
d ['date']
e ['elderberry']
f ['fig']

In [35]:
f=lambda n:"even" if n%2==0 else "odd"

In [37]:
f(5)

'odd'

In [43]:
f=lambda x:"p" if x>0 else "n" if x<0 else "zero"

In [46]:
f(0)

'zero'

In [47]:
t=lambda x:"hot" if x>30 else "moderate" if x>=20 and x<=30 else "cold"

In [51]:
t(15)

'cold'

In [56]:
s="amitha"
f=lambda s:s.upper()

In [57]:
f(s)

'AMITHA'

In [58]:
f1=lambda x:x**2
f2=lambda x:x+10

In [60]:
f2(f1(5))

35

In [61]:
#list comprehension

In [62]:
n=[1,2,3,4,5]
sq=[i**2 for i in n]

In [63]:
sq

[1, 4, 9, 16, 25]

In [64]:
even=[i for i in n if i%2==0]

In [65]:
even

[2, 4]

In [66]:
lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
f=[item for sublist in lists for item in sublist]

In [67]:
f

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
words = ['apple', 'banana', 'cherry', 'date']
s=[word[0] for word in words]
s

['a', 'b', 'c', 'd']

In [80]:
strings = ['1', '2', '3', '4', '5']
s=[int(i) for i in strings]
s

[1, 2, 3, 4, 5]

In [79]:
n=36
l=[x for x in range(1,n+1) if n%x==0]
l

[1, 2, 3, 4, 6, 9, 12, 18, 36]

In [78]:
s=[word.upper() for word in words]
s

['APPLE', 'BANANA', 'CHERRY', 'DATE']

In [83]:
v=[sum(1 for char in word if char.lower() in 'aeiou') for word in words]
v

[2, 3, 1, 2]

In [85]:
p=lambda x:x>1 and all(x%i!=0 for i in range(2,int(x**0.5)+1))
prime=[num for num in range(2,50) if p(num)]
prime

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [86]:
#f strings

In [88]:
name="amitha"
s="hello {}".format(name)
s

'hello amitha'

In [89]:
age=20
s="my name is {}.my age is{}.".format(name,age)
s

'my name is amitha.my age is20.'

In [93]:
price=19.1234567
s=f"price is {price:.2f}"
s

'price is 19.12'

In [94]:
p = {"name": "Alice", "age": 25}
s="name is {} and age is {}".format(p['name'],p['age'])
s

'name is Alice and age is 25'

In [96]:
s=f"name is {p['name']} and  age is {p['age']}"
s

'name is Alice and  age is 25'

In [98]:
day = 1
month = 2
year = 2023
d=f"{day:02d}/{month:02d}/{year}"
d

'01/02/2023'

In [1]:
#zip function

In [9]:
lst1=["Krish","Sam","John"]
lst2=["a",'b','c']
l=zip(lst1,lst2)

In [10]:
list(l)

[('Krish', 'a'), ('Sam', 'b'), ('John', 'c')]

In [12]:
n1=[1,2,3,4,5]
n2=[6,7,8,9,10]
l=[x+y for x,y in zip(n1,n2)]
l

[7, 9, 11, 13, 15]

In [13]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
t=list(zip(*matrix))
t

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [14]:
keys = ["name", "age", "city"]
values = ["Alice", 30, "New York"]
d=dict(zip(keys, values))
d

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [23]:
dict1={'name':'Amitha','lst_name':'Myana','age':20}
dict2={'name':'Samhitha','lst_name':'Paida','age':20}
d=zip(dict1.values(),dict2.values())

In [18]:
list(d)

[('Amitha', 'Samhitha'), ('Myana', 'Paida'), (20, 20)]